# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Algorithm/.vs/Algorithm/v17/Solution.VC.db
Algorithm/.vs/Algorithm/v17/ipch/eb8245cf0ff531c0.ipch
Algorithm/.vs/Algorithm/v17/ipch/AutoPCH/d8de457b74ac8b5b/CONSOLEHELPER.ipch
Algorithm/.vs/Algorithm/v17/ipch/AutoPCH/47372489aacbe1c7/MAZE.ipch
Algorithm/.vs/Algorithm/v17/ipch/AutoPCH/39d7ee4bda2922b3/ALGORITHM.ipch
Algorithm/.vs/Algorithm/v17/ipch/3bfd44beea3b4457.ipch
Algorithm/.vs/Algorithm/v17/Browse.VC.db
Algorithm/.vs/Algorithm/v17/.suo
Algorithm/.vs/Algorithm/FileContentIndex/read.lock
Algorithm/.vs/Algorithm/FileContentIndex/d3f55402-a67d-489d-8d5d-1347f3cdfc81.vsidx
Algorithm/.vs/Algorithm/FileContentIndex/63c4a59c-19e0-4796-a5a0-3a4da8076440.vsidx
Algorithm/.vs/Algorithm/FileContentIndex/36a15256-922d-4c01-b4c9-b39ad11e7388.vsidx
Algorithm/.vs/Algorithm/FileContentIndex/039b39c3-8442-43f2-aa1d-5dbd5c0b2104.vsidx
Algorithm/Algorithm/Algorithm.vcxproj
Algorithm/Algorithm/Algorithm.vcxproj.filters
Algorithm/Algorithm/Algorithm.vcxproj.user
Algorithm/Maze/Maze.vcxproj
Algorithm/Maze/Maze.vcxproj.filters
Algorithm/Maze/Maze.vcxproj.user
Algorithm/Maze/x64/Debug/Maze.exe.recipe
Algorithm/Maze/x64/Debug/Maze.ilk
Algorithm/Maze/x64/Debug/Maze.log
Algorithm/Maze/x64/Debug/Maze.tlog/CL.command.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/CL.read.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/CL.write.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/link.command.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/link.read.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/link.write.1.tlog
Algorithm/Maze/x64/Debug/Maze.tlog/Maze.lastbuildstate
Algorithm/Maze/x64/Debug/vc143.idb
Algorithm/Maze/x64/Debug/vc143.pdb
